@use "network_status.scss";
@use "timer.scss";
@use "tests.scss";

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
// $bg-color: #d31a1a;
$bg-color: #{"@theme_bg_color"};

* {
  font-family: "FiraCode Nerd Font Mono", "FiraCode Nerd Font Bold", monospace;
  font-feature-settings: "liga" on;
  font-size: 14px;
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: transparent;
    border-radius: 10px;
    margin: 0px 8px 4px 8px;
  }

  centerbox > box {
    background-color: transparent;
  }

  .clock {
    color: rgb(160, 160, 160);
    background: rgb(0, 0, 0);
    padding: 0px 10px;
    border-radius: 4px;
    font-family: "Fira Code";
  }
}

button {
  padding: 1px 4px;
}

.bar-button-label {
  font-size: 26px;
  font-weight: 700;
  padding: 0px 10px;
}

//#region Buttons

//#endregion

//#region Popover
.widget-popover {
  border: 1px rgba(255, 255, 255, 0.2) solid;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0px;
}

popover.widget-popover contents {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.45);
  border-radius: 0px;
  padding: 0px;
}

//#endregion

.container-label {
  font-size: medium;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "FiraCode Nerd Font";
}

.label-text {
  font-size: 14px;
}

.label-icon {
  font-size: 28px;
}
.label-icon-no-padding {
  font-size: 28px;
  line-height: 0.5em;
}
