.save-timer-window-time-digit {
  font-size: 40px;
  font-family: monospace;
}

.save-timer-window-timeentry-box {
  border: 2px dotted black;
}

.save-timer-window-button {
  border-radius: 0px;
}

.save-timer-window-button-add {
  background-color: green;
}

.save-timer-window-button-cancel {
  background-color: red;
}
