//#region Main button
.weather-button {
  margin: 0px;
  padding: 0px;
}

.weather-button-label-container {
  transition: color 1s ease, background-color 1s ease, border 1s ease;
}

.weather-button-status-label {
  font-size: 44px;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
}

.weather-button-sun {
  color: rgba(230, 230, 120, 0.95);
  border-radius: 4px;
  border: 2px solid rgba(230, 230, 120, 0.2);
  background-color: rgba(230, 230, 120, 0.1);
}

.weather-button-sun:hover {
  background-color: rgba(230, 230, 120, 0.215);
}

.weather-button-moon {
  color: rgba(160, 160, 160, 0.95);
  border-radius: 4px;
  border: 2px solid rgba(160, 160, 160, 0.2);
  background-color: rgba(160, 160, 160, 0.1);
}

.weather-button-moon:hover {
  background-color: rgba(160, 160, 160, 0.215);
}

.weather-button-cloud-mid {
  color: rgba(180, 180, 140, 0.95);
  border-radius: 4px;
  border: 2px solid rgba(180, 180, 140, 0.2);
  background-color: rgba(180, 180, 140, 0.1);
}

.weather-button-cloud-mid:hover {
  background-color: rgba(180, 180, 140, 0.215);
}

.weather-button-cloud-full {
  color: rgba(115, 115, 115, 0.95);
  border-radius: 4px;
  border: 2px solid rgba(115, 115, 115, 0.2);
  background-color: rgba(115, 115, 115, 0.1);
}

.weather-button-cloud-full:hover {
  background-color: rgba(115, 115, 115, 0.215);
}

.weather-button-rain {
  color: rgba(130, 180, 250, 0.95);
  border-radius: 4px;
  border: 2px solid rgba(130, 180, 250, 0.2);
  background-color: rgba(130, 180, 250, 0.1);
}

.weather-button-rain:hover {
  background-color: rgba(130, 180, 250, 0.215);
}

.weather-button-snow {
  color: rgba(230, 230, 230, 0.95);
  border-radius: 4px;
  border: 2px solid rgba(230, 230, 230, 0.2);
  background-color: rgba(230, 230, 230, 0.1);
}

.weather-button-snow:hover {
  background-color: rgba(230, 230, 230, 0.215);
}

.weather-button-thunderstorm {
  color: rgba(50, 90, 135, 0.9);
  border-radius: 4px;
  border: 2px solid rgba(50, 90, 135, 0.2);
  background-color: rgba(50, 90, 135, 0.1);
}

.weather-button-thunderstorm:hover {
  background-color: rgba(50, 90, 135, 0.215);
}

//#endregion

//#region popover

.current-weather-icon {
  line-height: 0.5;
  font-size: 160px;
  padding: 4px 12px;
}

.weather-icon-hourly {
  line-height: 0.5;
  font-size: 90px;
  padding: 4px;
}

.weather-icon-daily {
  line-height: 60px;
  font-size: 120px;
  padding: 4px;
}

.weather-icon-sun {
  color: rgba(180, 180, 80, 0.8);
}

.weather-icon-moon {
  color: rgba(160, 160, 160, 0.8);
}

.weather-icon-cloud-mid {
  color: rgba(180, 180, 140, 0.8);
}

.weather-icon-cloud-full {
  color: rgba(115, 115, 115, 0.8);
}

.weather-icon-rain {
  color: rgba(90, 120, 170, 0.8);
}

.weather-icon-snow {
  color: rgba(210, 210, 210, 0.8);
}

.weather-icon-thunderstorm {
  color: rgba(40, 75, 115, 0.8);
}

.weather-localization-button {
  border-radius: 0px;
  border: 1px solid rgb(128, 128, 128);
  color: rgb(200, 200, 200);
  background-color: rgb(0, 0, 0);
}

.weather-localization-button.weather-current-localization {
  color: rgb(0, 0, 0);
  background-color: rgb(200, 200, 200);
}

.weather-panel-label {
  color: rgb(200, 200, 200);
}

.weather-panel {
  padding: 6px;
  border-radius: 0px;
  border: 1px solid rgb(200, 200, 200);
}

.weather-time-panel {
  color: rgb(173, 173, 173);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px;
}

.weather-temperature-label {
  line-height: 0.5;
  font-size: 16px;
  padding: 0px;
}

.current-weather-temperature-label {
  line-height: 0.5;
  font-size: 90px;
  padding: 4px;
}

//#endregion
